.main {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    height: 300px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

.title {
    color: #FF6000;
    font-weight: bold;
    font-size: 28px;
    background-image: linear-gradient(
        to right,
        #54b3d6,
        #54b3d6 50%,
        #FF6000 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.title:before{
    content: '';
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.title:hover {
    background-position: 0;
}
   
.title:hover::before{
     width: 100%;
}

.preview {
    margin-right: 30px;
    border: 6px solid black;
}

.preview:hover {
    box-shadow: #FF6000 8px 8px;
    transition: box-shadow 0.3s ease-in-out;
}

.description {
    font-size: 16px;
}